<div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <p class="no-margin heading">AND I AM JUST A CLICK AWAY</p></div>
        <div class="phone" >
        <div class="contact">
            <div class="one"  fxLayout="column" fxLayoutAlign="center center">
                <a href="https://www.linkedin.com/in/vaishnavi-lolla-288374176/" target="_blank"> <img style="filter:invert()" class="icon" src="assets/images/linkedin-icon.png"></a>   
            </div>
            <div class="two"  fxLayout="column" fxLayoutAlign="center center"></div>
            <div class="three"  fxLayout="column" fxLayoutAlign="center center"></div>
            <div class="four"  fxLayout="column" fxLayoutAlign="center center"></div>
            <div class="five"  fxLayout="column" fxLayoutAlign="center center">
                <a href="https://github.com/vaishnavilolla" target="_blank">  <img class="icon" src="assets/images/git-icon.png"></a> 
            </div>
        </div>
            <img class="dial" src="assets/images/phone-white.png">
        </div>
</div>