<div class="wallpaper">
    <div>
        <div id="timeline-content">
            <h1>MY TIMELINE</h1>
            <ul class="timeline">
              <li class="event" data-date="19 AUG 1995">
                <h3>BIRTHDAY</h3>
                <p>I was born to Udaya Sankar and Krishnaveni in Lolla's Family</p>
              </li>
              <li class="event" data-date="15 JUL 2000">
                <h3>INCEPTION</h3>
                <p>My first day at School in Hyderabad.</p>    
              </li>
             
            </ul>
          </div>
    </div>
</div>