<div class="home">
        <div fxLayout="row" fxLayoutAlign="end center"  class="topics">
            <p>Career</p>
            <p>About Me</p>
            <p>Interests</p>
            <p>Contact</p>
        </div>
    <div>
        <div id="timeline-content">
            <h1>My Timeline</h1>
            <ul class="timeline">
              <li class="event" data-date="19 AUG 1995">
                <h3>I was Born</h3>
                <p>I was born to Udaya Sankar and Krishnaveni in Lolla's Family</p>
              </li>
              <li class="event" data-date="15 JUL 2000">
                <h3>When it all started</h3>
                <p>My first day at Vidyanikethan School in Hyderabad.</p>    
              </li>
              <li class="event" data-date="15 JUL 2000">
                <h3>When it all started</h3>
                <p>My first day at Vidyanikethan School in Hyderabad.</p>    
              </li>
              <li class="event" data-date="15 JUL 2000">
                <h3>When it all started</h3>
                <p>My first day at Vidyanikethan School in Hyderabad.</p>    
              </li>
              <li class="event" data-date="15 JUL 2000">
                <h3>When it all started</h3>
                <p>My first day at Vidyanikethan School in Hyderabad.</p>    
              </li>
              <li class="event" data-date="15 JUL 2000">
                <h3>When it all started</h3>
                <p>My first day at Vidyanikethan School in Hyderabad.</p>    
              </li>
              <li class="event" data-date="15 JUL 2000">
                <h3>When it all started</h3>
                <p>My first day at Vidyanikethan School in Hyderabad.</p>    
              </li>
              <li class="event" data-date="15 JUL 2000">
                <h3>When it all started</h3>
                <p>My first day at Vidyanikethan School in Hyderabad.</p>    
              </li>
              <li class="event" data-date="15 JUL 2000">
                <h3>When it all started</h3>
                <p>My first day at Vidyanikethan School in Hyderabad.</p>    
              </li>
            </ul>
          </div>
    </div>
</div>