@import 'src/variables.scss';

.memories{
    padding:20px 50px;
    @media only screen and (max-width: 768px) {
        padding:20px 30px;
    }
    flex-wrap: wrap;
    .memory{
        padding:10px;
        margin-bottom:15px;
        background-color: #ffffff10;
        border-radius: 10px;
        .photo{
            img{
                height:150px;
                padding:5px;
            }
            @media only screen and (max-width: 768px) {
                display:none !important;
          }
        }
        
        .text{
            min-height:50px;
            p{
                margin:5px !important
            }
            .title{
                font-size:1.8rem;
            }
            .description{
                font-size:1.2rem;
                opacity:0.8;
            }
            @media only screen and (max-width: 768px) {
                .title{
                    font-size:1.2rem;
                }
                .description{
                    font-size:0.8rem;
                    opacity:0.8;
                }
            }
        }
    }

}
