<div>
    <div  style="text-align: center">
        <p class="no-margin heading">WHAT ALL I HAVE BEEN DOING</p></div>
    <div class="memories" fxLayout="column" >
        <div  class="memory"  fxLayout="row" fxLayoutAlign="space-around start">
            <div class="photo" >
                <img src="assets/images/main.png">
            </div>
            <div fxFlex="80"  fxFlex.lt-sm="100"  class="text">
                <p class="title">Project Title Here</p>
                <p class="description">This is my project description. Describes how I have executed the project and outcome of the project work.</p>
            </div>
        </div>     
        <div  class="memory"  fxLayout="row" fxLayoutAlign="space-around start">
            <div class="photo">
                <img src="assets/images/main.png">
            </div>
            <div fxFlex="80"  fxFlex.lt-sm="100"  class="text">
                <p class="title">Project Title Here</p>
                <p class="description">This is my project description. Describes how I have executed the project and outcome of the project work.</p>
            </div>
        </div>     
        <div  class="memory"  fxLayout="row" fxLayoutAlign="space-around start">
            <div class="photo">
                <img src="assets/images/main.png">
            </div>
            <div fxFlex="80"  fxFlex.lt-sm="100"  class="text">
                <p class="title">Project Title Here</p>
                <p class="description">This is my project description. Describes how I have executed the project and outcome of the project work.</p>
            </div>
        </div>     
        <div  class="memory"  fxLayout="row" fxLayoutAlign="space-around start">
            <div class="photo">
                <img src="assets/images/main.png">
            </div>
            <div fxFlex="80"  fxFlex.lt-sm="100"  class="text">
                <p class="title">Project Title Here</p>
                <p class="description">This is my project description. Describes how I have executed the project and outcome of the project work.</p>
            </div>
        </div>
              
        
    </div>


</div>