<div class="wallpaper">
    <div style="padding-left:100px;">
        <p style="font-size:36px">Find my Interests below</p></div>
    <div class="memories" fxLayout="row" fxLayoutAlign="start center" >
        <div fxFlex="20" class="flip-card" fxLayout="column" fxLayoutAlign="space-around center" >
            <div  class="memory flip-card-inner">
                
                <div class="flip-card-front">
                    <div class="title">
                        • TRAVEL •
                    </div>
                    <div class="photo">
                        <img src="assets/images/travel.jpg">
                    </div>
                    
                  </div>
                <div class="flip-card-back" fxLayout="column" fxLayoutAlign="center center">
                    <div class="text">
                        I love to travel<br><br> Looking forward to explore new places around the globe.
                    </div>
                  </div>
            </div>
        </div>
        <div fxFlex="20" class="flip-card" fxLayout="column" fxLayoutAlign="space-around center" >
            <div  class="memory flip-card-inner">
                
                <div class="flip-card-front">
                    <div class="title">
                        • MUSIC •
                    </div>
                    <div class="photo">
                        <img src="assets/images/keyboard.jpg">
                    </div>
                    
                  </div>
                <div class="flip-card-back" fxLayout="column" fxLayoutAlign="center center">
                    <div class="text">
                        Music speaks to my Soul. <br><br> Also, I am a Grade V Certified Keyboard player from Trinity College, London.
                    </div>
                  </div>
            </div> 
        </div>
        <div fxFlex="20" class="flip-card" fxLayout="column" fxLayoutAlign="space-around center" >
            <div  class="memory flip-card-inner">
                
                <div class="flip-card-front">
                    <div class="title">
                        • ART •
                    </div>
                    <div class="photo">
                        <img src="assets/images/art.jpg">
                    </div>
                    
                  </div>
                <div class="flip-card-back" fxLayout="column" fxLayoutAlign="center center">
                    <div class="text">
                        I am an Artist <br><br> I get excited for randomness in Art. <br> Fun Fact: I am left-handed.
                    </div>
                  </div>
            </div>
        </div>
      
        
        
    </div>


</div>